html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h2 {
  font-weight: 100;
  font-size: 56px; }

h4 {
  font-size: 48px;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #738BD1;
  margin-bottom: 20px; }

h6 {
  font-size: 30px; }

.navbar {
  background-color: #738BD1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .navbar * {
    padding: 10px 0 0 0; }
  .navbar div {
    font-weight: 100;
    font-size: 24px; }

.nav-options {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 15px;
  background-color: #738BD1;
  width: 100%;
  color: white; }
  .nav-options.docked {
    position: fixed;
    top: 0; }
  .nav-options .container {
    display: block;
    width: 80%;
    padding: 0; }
    .nav-options .container > ul {
      display: flex;
      justify-content: center; }
      .nav-options .container > ul .options {
        padding: 15px;
        background-color: #738BD1; }
        .nav-options .container > ul .options:hover {
          cursor: pointer;
          color: #3550A1; }
  .nav-options .dropdown-content {
    display: none; }
  .nav-options .dropdown-wrapper {
    position: relative; }
    .nav-options .dropdown-wrapper:hover .dropdown-content {
      background-color: #738BD1;
      display: inline;
      position: absolute; }
      .nav-options .dropdown-wrapper:hover .dropdown-content li {
        padding: 15px;
        margin: 0px; }
        .nav-options .dropdown-wrapper:hover .dropdown-content li a {
          text-decoration: none;
          color: white; }
        .nav-options .dropdown-wrapper:hover .dropdown-content li:hover {
          cursor: pointer;
          background-color: #738BD1; }
          .nav-options .dropdown-wrapper:hover .dropdown-content li:hover a {
            color: #3550A1; }

main section {
  margin: 50px;
  display: flex;
  flex-direction: column; }
  main section h4 {
    color: #3550A1; }
  main section h6 {
    text-align: center;
    color: #738BD1;
    margin-bottom: 20px; }
  main section #projects-wrapper li {
    border-bottom: 1px dashed #738BD1; }
    main section #projects-wrapper li:last-child {
      border-bottom: 0; }
  main section li {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 25px; }
    main section li .description {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      main section li .description img {
        height: 200px;
        width: 30%; }
      main section li .description > div {
        width: 68%;
        text-align: center; }
        main section li .description > div p {
          text-align: left;
          padding-bottom: 20px; }
        main section li .description > div button {
          margin: 10px; }

footer {
  height: 200px;
  background-color: #738BD1;
  display: flex;
  justify-content: center; }
  footer div {
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; }
    footer div p {
      font-size: 24px;
      text-align: center; }
  footer ul {
    display: flex;
    flex-direction: row; }
    footer ul li {
      padding: 0 10px 0 10px;
      border-right: 1px solid white;
      margin: 0;
      width: auto;
      text-align: center; }
      footer ul li:last-child {
        border: 0; }
      footer ul li a {
        text-decoration: none;
        color: inherit; }

button {
  border-style: solid;
  border-radius: 5px;
  border-color: #738BD1;
  background-color: transparent;
  width: 100px;
  height: 40px;
  color: #738BD1;
  font-size: 18px; }
  button:hover {
    border-color: #3550A1;
    color: #3550A1;
    cursor: pointer; }

#resume {
  display: none; }

/*# sourceMappingURL=main.css.map */
